    <nz-alert nzType="error" nzCloseable nzMessage="Error" 
    nzDescription="{{alertMessage}}"
    nzShowIcon (nzOnClose)="afterClose()" *ngIf="alertMessage"></nz-alert>
    <div nz-row nzJustify="space-around" nzAlign="middle">
        <div nz-col nzSpan="4">
            <nz-card style="top: 50%; transform: translateY(80%);">
                <nz-spin [nzSpinning]="isLoading" [nzSize]="'large'">
                <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()">
                    <nz-form-item>
                    <nz-form-control nzErrorTip="Please input your E-mail!">
                    <nz-input-group nzPrefixIcon="user">
                        <input type="email" nz-input formControlName="email" placeholder="E-mail" />
                    </nz-input-group>
                    </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                    <nz-form-control nzErrorTip="Please input your Password!">
                    <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input formControlName="password" placeholder="Password" />
                    </nz-input-group>
                    </nz-form-control>
                    </nz-form-item>
                    <div nz-row class="login-form-margin">
                    <div nz-col [nzSpan]="12">
                    <label nz-checkbox>
                        <span>Remember me</span>
                    </label>
                    </div>
                    <div nz-col [nzSpan]="12">
                    <a class="login-form-forgot">Forgot password</a>
                    </div>
                    </div>
                    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
                    Or <a routerLink="/signup"> register now! </a>
                </form>
                </nz-spin>
            </nz-card>
        </div>
    </div>
