.login-form {
    max-width: 300px;
}

.login-form-margin {
    margin-bottom: 16px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

nz-alert {
    // margin: 16px 0;
    padding: 16px 16px;
}

.center-item {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}