<nz-content>
    <div class="inner-content">
        <nz-descriptions nzTitle="User Info" [nzBordered]="true" [nzColumn]="1">
          <nz-descriptions-item nzTitle="Full Name">{{user?.firstName }} {{ user?.lastName}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Bio">{{ user?.bio }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="E-mail Address">{{ user?.email }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Quote">{{user?.quote}}</nz-descriptions-item>
          
        </nz-descriptions>
    </div>
</nz-content>

