.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.outer-content {
  // margin-top: 64px;
  width: 75%;
  margin: 64px auto 0;
  padding: 0 50px;
  height: 100%;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-page-header {
  padding: 8px 24px;
}

.inner-layout {
  max-height: 80vh;
  min-height: 80vh;
  padding: 4px 0;
  background: #fff;
  height: 100%;
}

nz-sider {
  overflow: auto;
  position: static;
}

.sider-menu {
  height: 100%;
}

.inner-content {
  overflow: auto;
  // text-align: center;
  padding: 0 24px;
  min-height: 280px;
}

nz-footer {
  text-align: center;
}