
<nz-layout class="layout">
  <app-header>
  </app-header>
  <nz-content class="outer-content">
      <nz-page-header class="site-page-header" nzTitle="Channel" nzSubtitle="This is a subtitle">
      </nz-page-header>
      <nz-layout class="inner-layout">
        <nz-sider nzWidth="250px" nzTheme="light">
          <app-side-nav-items [menuOptions]="channelService.channels | async"></app-side-nav-items>
        </nz-sider>
        <nz-content class="inner-content">
          <app-chat-window></app-chat-window>
        </nz-content>
      </nz-layout>
  </nz-content>
  <nz-footer>Mijn Werk ©2020</nz-footer>
</nz-layout>