<nz-header>
    <div style="width: 75%; margin: 0px auto;">
      <div nzAlign="center" style="width: 250px; flex: none;">
        <div class="logo"></div>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal"
        [nzSelectable]="false"
        class="header-menu"
        *ngIf="currentUser else loggedOut">
          <li nz-submenu [nzTitle]="profileAvatar" style="float: right; padding: 0 60px 0 0;">
            <ul>
              <li nz-menu-item>
                <a routerLink="/app/user/{{currentUser.id}}" routerLinkActive="active">Profile</a>
              </li>
              <li nz-menu-item><a (click)='auth.logout()'>Log out</a></li>
            </ul>
          </li>
          <ng-template #profileAvatar><nz-avatar nzIcon="user"></nz-avatar></ng-template>
      </ul>
    </div>
</nz-header>

<ng-template #loggedOut>
  <ul nz-menu nzTheme="dark" nzMode="horizontal">
    <li nz-menu-item>
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </li>
    <li nz-menu-item>
      <a routerLink="/signup" routerLinkActive="active">Sign Up</a>
    </li>
  </ul>
</ng-template>
