<nz-layout class="layout">
    <app-header>
    </app-header>
    <nz-content class="outer-content">
        <nz-page-header class="site-page-header" nzTitle="Profile" nzSubtitle="This is a subtitle">
        </nz-page-header>
        <nz-layout class="inner-layout">
          <app-side-nav></app-side-nav>
          <nz-content class="inner-content">
            <app-user-profile></app-user-profile>
          </nz-content>
        </nz-layout>
    </nz-content>
    <nz-footer>Mijn Werk ©2020</nz-footer>
  </nz-layout>